# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat= 2.3
print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1=2
num2=5.4
result= num1 + num2
print(result)

7.4

##### Subtraction

In [4]:
result_diff= num2-num1
print(result_diff)

3.4000000000000004

##### Multiplication

In [5]:
result_mul= num2 * num1
print(result_mul)

10.8

##### Division

In [6]:
result_div= num2/num1
print(result_div)

2.7

##### Floor Division

In [7]:
result_floor = num2 // num1
print(result_floor)

2.0

##### Modulo

In [ ]:
result_mod=num2%num1
print(result_mod)

##### Exponential

In [8]:
square= 5**2
print(square)

25

### String Input-Output

##### String Assignment

In [10]:
name= 'Btandon'
print(name)

Btandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [16]:
print('this is my first name: ', name)
print("Full Name:", name , end=' apol')

this is my first name:  Btandon
Full Name: Btandon apol

##### String Concatenation

In [17]:
first_name= "john"
last_name="Smith"
full_name= first_name + " " + last_name
print(full_name)

john Smith

##### Type Conversion

In [18]:
number= "32"

change_type_num= int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [19]:
name= input("what is your name")
print(name)

what is your nameDaniel
Daniel

##### format()

In [24]:
age= input('what is your age? ')
result_string= "you are {} {} and you are getting wiser". format(age,name)
print(result_string)

result_again= f"{age} is a great time in life, {name}"
print(result_again)

what is your age? 32
you are 32 Daniel and you are getting wiser
32 is a great time in life, Daniel

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [26]:
color= input("What is the color?")
year= input("What is the year")
make= input('what is the make?')
model=input('what is the model?')
cymm=f'{color},{year},{make},{model}'

print(cymm)

What is the color?blue
What is the year92
what is the make?dodge
what is the model?ram
blue,92,dodge,ram

### If Statements

In [37]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1=5
num2=10
num3=0

#if num1== num2 :
    #print("equal values")
#else:
    #print('not equal values')

if num2>num1 or num3>0:
    print("num2 is greater")
elif num1>num2:
    print("num1 is greater")
else:
    print('equal values')

num2 is greater

##### 'is' keyword

In [38]:
num3="55"
if num3 is 55:
    print('this is the exact number/object')

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\danie\AppData\Local\Temp\ipykernel_80788\3999536281.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [40]:
char_name = "Frodo Baggins"
if "Frodo" in char_name:
    print("The ring bearer")

##### 'not in' keyword'

In [41]:
sega_char = "sonic"
if "a" not in sega_char:
    print("a is not here")

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [44]:
name=input("What is your name?")
if "p" in name:
    print("We got a p in that name nice good pp")
else:
    print("no pp")

What is your name?peter
We got a p in that name nice good pp

## Using 'and'/'or' with If Statements

In [47]:
num11= 15
num12= 3
num13= 10
num14= 3
if num11/5 ==num12 and num13-7==num14:
    print("true and true")
    
if num11 > num12 or num13 == num14:
    print('true and false')

true and true
true and false"

### Elif Statements

In [57]:
first_name= input("What is your name?")

if first_name== "Smith":
    print("The first name is Smith")
elif first_name== "Brandon":
    print("The first name is Brandon")
elif first_name!= "Max":
    print("The name is not Max")
else:
    print("The name is Max")

What is your name?Smith
The first name is Smith

### Else Statements

In [ ]:
# see above

### For Loops

In [58]:
name = "Brandon Apol"
for letter in name:
    print(letter)

B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [61]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [62]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [63]:
for i in range(20):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Double For Loops

In [65]:
for i in range(5):
    for j in range(5):
        print("i=", i, "j= ", j)

i= 0 j=  0
i= 0 j=  1
i= 0 j=  2
i= 0 j=  3
i= 0 j=  4
i= 1 j=  0
i= 1 j=  1
i= 1 j=  2
i= 1 j=  3
i= 1 j=  4
i= 2 j=  0
i= 2 j=  1
i= 2 j=  2
i= 2 j=  3
i= 2 j=  4
i= 3 j=  0
i= 3 j=  1
i= 3 j=  2
i= 3 j=  3
i= 3 j=  4
i= 4 j=  0
i= 4 j=  1
i= 4 j=  2
i= 4 j=  3
i= 4 j=  4

### While Loops

In [66]:
num = 0
while num< 10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [69]:
game_over= True

while game_over:
    print("Infinite Loop")
    user_input = input("Would you like to stop?")
    if user_input== "Yes":
        game_over= False

Infinite Loop
Would you like to stop?no
Infinite Loop
Would you like to stop?no
Infinite Loop
Would you like to stop?no
Infinite Loop
Would you like to stop?no
Infinite Loop
Would you like to stop?Yes

##### While & For Loops Used Together

In [ ]:
num = 0
while num > 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print( "For loop iteration: ", str(i))
    
    num +=1

### Built-In Functions

##### range()

In [72]:
#range(start,stop,step)
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [74]:
name= "Max"
length=len(name)
print(length)

3

##### help()

In [ ]:
use this function to view more info about a python function

##### isinstance()

In [76]:
if isinstance(4.5,float):
    print("This number is a float")

This number is a float

##### abs()

### Try and Except

In [81]:
try:
    number_test= 0
    input_num= int(input("guess a number"))
    if input_num != input_num +number_test:
        print("Your number is:" + str(input_num))
except:
    print("That didn't work! Change your input to a number")

guess a number5

### Lists

##### Declaring Lists

In [82]:
list_1 = []
names = ["max","cindy","kathy","Bob","Nate"]
print(names)

['max', 'cindy', 'kathy', 'Bob', 'Nate']

##### Indexing a List

In [88]:
print(names[0])
print(names[1:])
print(names[:2])
print(names[::2])
print(names[::-1])

max
['cindy', 'kathy', 'Bob', 'Nate']
['max', 'cindy']
['max', 'kathy', 'Nate']
['Nate', 'Bob', 'kathy', 'cindy', 'max']

##### .append()

In [101]:
names.append("brandon")
print(names)

['max', 'cindy', 'brandon', 'brandon', 'brandon', 'brandon', 'brandon']

##### .insert()

In [90]:
names.insert(3,"Devon")
print(names)

['max', 'cindy', 'kathy', 'Devon', 'Bob', 'Nate', 'brandon']

##### .pop()

In [96]:
myname=names.pop(2)
print(myname)
print(names)

IndexError: pop index out of range


##### .remove()

In [103]:
print(names)
names.remove("brandon")
print(names)

['max', 'cindy', 'brandon', 'brandon', 'brandon', 'brandon', 'brandon']
['max', 'cindy', 'brandon', 'brandon', 'brandon', 'brandon']

##### del()

In [109]:
del(names[0])
print(names)

['cindy']

##### Concatenating Two Lists

In [111]:
names=['max','sam','josh']
list2= [1,2,3]
largerlist=names + list2
print(largerlist)

['max', 'sam', 'josh', 1, 2, 3]

##### Lists Within Lists

In [ ]:
names= ['max','sam','josh',['sally','sue','tameka']]
print(names[3][1])

##### Looping Through Lists

In [114]:
for i in range(len(names)):
    print(names[i])
for i in names:
    print(i)

max
sam
josh
max
sam
josh

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [117]:
cubed_numbers=[]
for i in range(100):
    icubed= i**3
    if icubed<=1000:
        cubed_numbers.append(icubed)
    else:
        break
print(cubed_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [119]:
prime_numbers=[]
for i in range(100):
    numlist=[]
    if i==1:
        continue
    if i==2:
        prime_numbers.append(i)
    if i==3:
        prime_numbers.append(i)
    if i==5:
        prime_numbers.append(i)
    if i%2!=0:
        for x in (str(i)):
            numlist.append(int(x))
        if sum(numlist)%3!=0:
            sqrti= i**0.5
            if sqrti%2!= 0 and sqrti%3!=0 and sqrti%5!=0 and sqrti%7!=0 and sqrti%11!=0 and sqrti%13!=0:
                if i%5!=0:
                    prime_numbers.append(i)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [125]:
user_age= input("What is your age?")
if int(user_age)<18:
    print("kids")
elif int(user_age)>=18 and int(user_age)<=65:
    print("adults")
else:
    print("seniors")

What is your age?18
adults